* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
}

.sudoku-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 4px solid #000;
}

.cell {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #999;
  transition: all 0.3s ease-in-out;
}

table tr:nth-child(3n) td,
table tr:nth-child(3n + 3) td {
  border-bottom: 2px solid #000;
}

table td:nth-child(3n) {
  border-right: 2px solid #000;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container__button {
  display: flex;
  flex-direction: row-reverse;
}
button {
  margin-top: 20px;
  padding: 14px 27px;
  font-size: 16px;
  background-color: #ff6f61;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border: none;
  margin-right: 10px;
}

button:hover {
  background-color: #ff513e;
}
.container {
  display: flex;
}
.containter__button-level {
  display: flex;
}
.easy {
  background-color: #34a32e;
}
.easy:hover {
  background-color: #07eb2d;
}
.medium {
  background-color: #bbc71b;
  color: #000;
}
.medium:hover {
  background-color: #eafa0b;
}
.hard {
  background-color: #df220d;
}
.generationanswer {
  background-color: #0747f7;
}
.generationanswer:hover {
  background-color: #078bf7;
}
.generationpuzzle {
  background-color: #34a32e;
}
.generationpuzzle:hover {
  background-color: #07eb2d;
}
.clear {
  background-color: white;
  color: #000;
}
.solved {
  /* background-color: #79ff73; */
  transition: all 0.4s ease-in-out;
}

.sudoku-container .cell:focus {
  outline: none;
  background-color: rgba(3, 155, 229, 0.1);
}

.sudoku-container .cell::selection {
  background-color: transparent;
}

.sudoku-container .cell::placeholder {
  color: #aaa;
}

.sudoku-container .cell.solved {
  background-color: #79ff73;
}

.sudoku-container .cell.error {
  background-color: #ff7373;
}

.sudoku-container .cell.correct {
  background-color: #c3f3e5;
}

.sudoku-container .cell.correct.solved {
  background-color: #7de893;
}
